@import './../../../style/setting';

.ps-delivery{
    background-color: #fafafa;
    height: 14rem;
    justify-content: space-around;
    display: flex;
    align-items: center;
    margin-top: 68px;

    .ps{
        // justify-content: space-around;
        text-align: center;

    }
}